.nav-link{
            color: black;
        }

        .nav-link:hover{
            color: black;
        }
        
        .read{
            height: auto;
            color: #0898a0;
            background-color: #EDFFFF;
            border: 1px solid #0898A0;
        }